/* HLVM website style sheet */
A:link {
  color: #0000CC;
  cursor: pointer;
  text-decoration: underline;
  font-weight: bolder;
}
A:visited {
  color: #0000CC;
  cursor: pointer;
  text-decoration: underline;
  font-weight: bolder;
}
A:hover {
  color: #8888FF;
  cursor: pointer;
  text-decoration: underline;
  font-weight: bolder;
}
A:active {
  color: #8888FF;
  cursor: pointer;
  text-decoration: underline;
  font-weight: bolder;
  font-style: italic;
}
ADDRESS IMG { 
  float: right; 
  width: 88px; 
  height: 31px; 
}
ADDRESS { 
  clear: right; 
}
B { font-weight: bold; }
BODY {
  background: #f0f0f0;
  color: #000000;
  text-align: left;
  line-height: normal;
  letter-spacing: normal;
  word-spacing: normal;
  font-family: "Verdana,Arial,sans";
  font-size: medium;
  font-style: normal;
  font-weight: bold;
  font-variant: normal;
  position: relative;
  margin-left: 0em;
  min-width: 400px;
  width: 100%;
  margin: 2px 2px 2px 2px;
  padding: 0 0 0 0;
  border: none;
}
DT { margin-top: 0.75em; font-weight: bold; color: #0000DD; }
EM { color: #0000DD; font-style: italic; }
H1 {
  background: url("img/lines.png");
  color: #EEEEFF;
  border-top: 1px solid #CCEEFF;
  border-bottom: 1px solid #CCEEFF;
  text-align: center;
  vertical-align: middle;
  font-size: 140%;
  font-weight: bold;
  padding: 0.1em 0.1em 0.1em 0.1em; 
  width: 100%;
  margin-bottom: 0.3em; 
}
H2 {
  border-top: 1px solid #000088;
  border-bottom: 1px solid #000088;
  background-color: #000088;
  color: #EEEEFF;
  text-align: left;  
  font-size: 120%;
  font-weight: bold;
  width:60%;
}
H3 {
  color: #EEEEFF;
  background-color: #4444AA;
  text-align: left;
  text-decoration: underline;
  font-size: 110%;
  font-weight: bold;
}
H4 {
  color: #EEEEFF;
  text-align: left;
  font-size: 105%;
  font-weight: bold;
}
HR    { color: #0000AA; }
I     { font-style: italic; }
LI    { margin-top: 0.25em; }
STRONG{ color: #0000FF; font-weight: bold }
PRE   { font-size: 80%; }
TABLE {
  width: 95%;
  font-size: 95%;
  table-layout: auto;
  border-collapse: collapse;
  text-align: left;
  vertical-align: top;
  border: 2px dotted #0000AA;
  margin: 4px;
}
TH {
  color: #EEEEFF;
  font-size: 105%;
  font-weight: bold;
  border: 2px solid #0000AA;
  padding: 0px 4px 1px 4px;
  text-align: left;
  vertical-align: top;
  background: url("img/lines.png");
}
TD {
  margin: 4px;
  border: 2px solid #0000AA;
  text-align: left;
  vertical-align: top;
  padding: 0px 4px 1px 4px;
}
.author  { text-align: left; font-weight: bold; padding-left: 20pt }
.warning { color: red; font-weight: bold; }
.text    { text-align: left; padding-left: 20pt; padding-right: 10pt }
.hilite  { color: blue; font-weight: bold; }
.notes   { background: #fafafa; border: 1px solid #cecece; padding: 0.5em }
.title,.section { 
  margin-left: 0.1em;
  margin-top: 24pt;
  font-size: 20pt; 
  text-align: center; 
  font-weight: bold; 
  background: url("img/lines.png");
  border: 2px solid #0000AA;
  color: #EEEEFF;
}
.section {
  width: 80%;
  text-align: left;
}
.sectiontitle, .subsection {
  border-width: 1px;
  border-style: solid none solid none;
  text-align: center;
  vertical-align: middle;
  font-weight: bold; 
  font-size: 16pt;
  background-color: #000088;
  color: #eeeeff;
  padding: 0.1em 0.1em 0.1em .1em; 
  width: 100%;
  margin-bottom: 0.2em; 
  margin-top: 0.3em;
  margin-left: 0.5em;
}
.subsection {
  width: 75%;
  text-align: left;  
  font-size: 13pt; 
}
.subsubsection { 
  margin: 1.0em 0.5em 0.5em 0.5em;
  font-weight: bold; font-style: oblique;
  border-bottom: 1px solid #999999; font-size: 12pt;
  width: 75%; 
}
.code { 
  border: solid 1px gray; background: #eeeeee;
  margin: 0 1em 0 1em; 
  padding: 0 1em 0 1em;
  display: table; 
}
.footer { 
  text-align: center; 
  font-size: 85%;
  padding: 0 0 0 0 
}
