.hideable {
	border-width:thin;
	border-color:blackground;
	border-style:solid;
	background: #F8F8FF
}

.popup
{
   position:absolute; left:10; bottom:10; width:400;
   border-style:solid;
   border-width:2;
   border-color:blue;
   background-color:white;
   padding:5px;
   color:black;
   font-family:Arial;
   font-weight:bold;
   font-size:10pt;
   z-index:2;
   visibility:hidden;
}

.popup2
{
   position:absolute; left:10; top:10; width:400;
   border-style:solid;
   border-width:2;
   border-color:blue;
   background-color:white;
   padding:5px;
   color:black;
   font-family:Arial;
   font-weight:bold;
   font-size:10pt;
   z-index:2;
   visibility:hidden;
}